#App
PORT='your_app_port'

#Tokens_Settings
ACCESS_TOKEN_EXPIRY='your_access_token_expiry'
REFRESH_TOKEN_EXPIRY='your_refresh_token_expiry'

DB_CONNECT_STRING="your_database_connection_string_here"

CORS_ORIGIN='your_frontend_url'

ACCESS_TOKEN_SECRET='your_access_token_secret_here'
REFRESH_TOKEN_SECRET='your_refresh_token_secret_here'

EMAIL_USER='your_brevo_email'
BREVO_API_KEY='your_brevo_api_key'